[v-cloak] {
    display: none;
}

/* Override Theme */

pre {
    margin: 16px;
    border: #ff000030 1px dashed;
    border-radius: 4px !important;
    background-color: #ff000009;
}
.login-box {
    width: 360px;
    margin: 10% auto;
}
.login-box-msg {
    margin: 0;
    text-align: center;
    padding: 0 20px 20px 20px;
    font-size: 18px !important;
}
.form-control:focus {
    border-color: #ff7965;
}
.box-header {
    padding: 16px 8px;
}
.box-title {
    font-weight: bold;
}
.box-tools {
    border: 0 red solid;
    margin-top: 4px;
}
.treeview-menu li {
    margin-left: 8px;
}

/* Alignment */

.text-td-center {
    text-align: center;
    vertical-align: middle !important;
}
.text-td-left {
    text-align: left;
    vertical-align: middle !important;
}
.text-td-right {
    text-align: right;
    vertical-align: middle !important;
}

/* Custom */

.cur-hand {
    cursor: pointer;
}
.rd4 {
    border-radius: 4px !important;
}
.pd0-pd3 {
    padding: 0 3px !important;
}
.required {
    color: red;
}
.full-width {
    width: 100% !important;
}
.img-circle {
    border: #FFFFFF solid !important;
}
.user-footer {
    background-color: #222d32DD !important;
}
.bg-resign {
    background-color: #ff000011 !important;
}
.swal-footer {
    background-color: rgb(245, 248, 250);
    margin-top: 32px;
    border-top: 1px solid #E9EEF1;
    overflow: hidden;
}
.loading-div-center {
    position: fixed;
    top: 40%;
    left: 50%;
    width: 320px;
    margin-left: -160px;
    height: 52px;
    margin-top: -26px;
}
.my-login-box {
    position: fixed;
    top: 40%;
    left: 50%;
    width: 360px;
    margin-left: -180px;
    height: 318px;
    margin-top: -159px;
}
.empty-data {
    height: 40px;
    text-align: center !important;
    vertical-align: middle !important;
    letter-spacing: 8px;
    font-size: 15px;
    color: #DDDDDD;
    text-transform: uppercase;
}
.data-table-paginate {
    height: 64px;
    text-align: left !important;
    vertical-align: middle !important;
    padding: 0;
    margin: 0;
    line-height: 64px;
}
.pagination {
    margin: 16px 0 0 0;
    cursor: pointer;
}
.pagination .active {
    color: white;
    cursor: pointer;
    background-color: #337ab7 !important;
    border: 1px #337ab7 solid;
}
.radio-label {
    font-weight: normal;
    margin-left: 4px;
}
.direct-chat-msg {
    margin-bottom: 24px;
}
.direct-chat-text {
    background: rgba(243, 156, 18, 0.1);
    border-color: #f39c12;
    color: #333;
    margin-left: 42px;
}
.direct-chat-text:after,
.direct-chat-text:before {
    border-right-color: #f39c12;
}
.direct-chat-img {
    width: 30px;
    height: 30px;
}
.direct-chat-name {
    font-weight: 600;
    color: #888;
}

/* Debug */

.bordertest {
    border: 1px solid red;
}

.btn-add-form {
    padding: 5px;
    font-size: 12px;
    background-color: #00a65a;
    color: white;
}

.btn-add-form:hover, .btn-add-form:focus {
    color: white;
}